.cart-title{
    font-size:1.5rem;
    text-align:center;
}
.cart-item-container{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}
.cart-checkout{
    width: 90rem;
    font-size: 1.2rem;
    margin: 2rem;
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-end;
    max-width: 80vw;

}
.cart-checkout p{
    margin-bottom: .6rem
}
.cart-empty{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}
.cart-empty button{
    margin: 2rem;
}