.item-name{
    text-align: center;
    font-size: 1.5rem;
    margin: 2rem;
}
.item-detail{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    font-size: 1.1rem;
    text-align: justify;
}
.item-img{
    width: 60%;
}
.item-detail-rigth{
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    width: 50vw;
    max-width: 40rem;
    padding: 0 2rem;
    border-left: 2px solid rgb(210, 72, 63);
}
.item-detail-left{
    width: 50vw;
    display: flex;
    justify-content: center;
    max-width: 40rem;
}
.item-price{
    font-size: 1.3rem;
    font-weight: bold;
    text-align: center;
}
.btn-finish-container{
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;
}
.cart-functions{
    display: flex;
    justify-content:center;
    align-items: center;
    margin-top:4rem
}
