.btn-primary {
    width: 20rem;
    border: none;
    border-radius: .5rem;
    color: rgb(210, 72, 63);
    font-size:1.8rem;
    margin: .3rem 0rem;
    background-color: rgb(210, 191, 191);
    transition: all .5s;
    height: 3.5rem;
    cursor: pointer;
}
.btn-primary:hover {
    background-color: rgba(210, 191, 191, 0.694);
}