.cart-img {
    width: 2.6rem;
}
.cart-img-container{
    display: flex;
    align-items: center;
}
.cart-count a{
    text-decoration: none;
    color: rgb(210, 72, 63);
    font-weight: bold;
}
.cart-count{
    font-size: 1.1rem;
    position: relative;
    left: -40%;
    bottom: 17%; 
    height: 0;
}