.card{
    text-align:center;
    border: solid 1px;
    border-radius: 5px;
    background-color: rgb(219, 212, 212);
    padding: .8rem;
    margin: 2rem;
    font-size: 1.4rem;
    width:19rem;    
    height: 34rem;
    display: flex;
    flex-flow: column nowrap;
    justify-content:space-between;
}
.product-img{
    width:98%;
    border-radius: 5px;
}
.product-name{
    margin: .8rem;
    font-size: 1.6rem;
}
.product-price{
    font-size: 1.5rem;
}
.product-detail-link{
    text-decoration: none;
    color: black;
}