form{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}
form input {
    width: 23rem;
    border: 1px solid rgb(210, 72, 63);
    border-radius: .5rem ;
    font-size:1.2rem;
    margin: .5rem 0rem;
    padding-left: .4rem;
    height: 2.4rem;
}
h3{
    font-size:1.5rem;
    margin: 2rem;
    text-align: center;
}
h4{
    font-size:1.4rem;
    margin: 1rem;
    text-align: center;
    font-weight: normal;
}

