*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.nav-bar-container{
    display: flex;
    background-color: rgb(219, 212, 212);
    justify-content:space-around
}
.logo-link{
    display: flex;
    align-items:center
}
.nav{
    list-style-type: none;
    display: flex;
    height: 100%;
    align-items: center;
}
.nav li {
    margin: 1rem 1.3rem;
}

.nav li a{
    text-decoration: none;
    color: rgb(210, 72, 63);
    font-size: 2.2rem;
    transition: all .5s;
}
.nav li a:hover{
    color:rgba(176, 6, 37, 0.966);
}
.logo {
    width: 6rem;
    margin: 1rem;
}
.nav-active{
    font-weight: bold;
}