.item-count-container {
    border: solid 1px;
    background-color: rgb(219, 212, 212);
    display: flex;
    flex-flow: column;
    padding: .5rem;
    margin: 2rem;
    
    
}

.item-count-container div{
    display: flex;
    justify-content: space-between;
}
.item-count-container div button {
    width: 1.6rem;
    height: 1.6rem;
    margin: .3rem;

}
.item-count-container div input {
    width:5rem;
    text-align: center;
    border: none;
    color: rgb(210, 72, 63);
    font-size:1.1rem;
    margin: .3rem;
}
.item-count-container button {
    width: 100%;
    border: solid 1px rgb(210, 72, 63) ;
    background: none;
    color: rgb(210, 72, 63);
    font-size:1.1rem;
    margin: .3rem 0rem;
    background-color: rgb(210, 191, 191);
    transition: all .5s;
    height: 1.6rem;
}
.item-count-container button:hover {
    background-color: rgba(210, 191, 191, 0.694);
    cursor: pointer;
}