.item-count-container {
    display: flex;
    flex-flow: column;
    padding: .5rem;
    align-items: center;
}

.item-count-container div{
    display: flex;
    justify-content: space-between;
    width: 20rem;
    margin: 1.5rem 0;
}
.btn-plus-minus {
    width: 1.6rem;
    height: 1.6rem;
    background: none;
    font-size: 2.5rem;
    border: none;
    cursor: pointer;
    color: rgb(210, 72, 63);
}
.item-count-container div input {
    width:5rem;
    text-align: center;
    border: none;
    color: rgb(210, 72, 63);
    font-size:1.6rem;
}